* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #1c1a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes sure the body takes the full viewport height */
    margin: 0; /* This removes any default margin */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}
.generator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    max-width: 400px;
    background-color: aliceblue;
    padding: 2rem 1rem;
    border-radius: 1rem;
}
h1{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    user-select: none;
}

input:not([type="checkbox"]),button{
    border: none;
    background: none;
    appearance: none;
    outline: none;
}

input[type="checkbox"]{
    cursor: pointer;
}

.password_wrap{
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 1rem;

}

.password_wrap:after{
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    top: 100%;
    left: 0;
    border-radius: 3px;
    right:0;
    background: linear-gradient(to right,#ad25fc 25%,#518cd4 75%);
}
.password_wrap input{
    padding:0.5rem;
    flex:1 1 0%;
    letter-spacing: .5px;    
}

.password_wrap input::placeholder{
    font-style: italic;
    color: #888;
}
.password_wrap button{
    cursor: pointer;
    background: linear-gradient(to bottom,#ad25fc 25%,#518cd4 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
label{
    display: flex;
    user-select: none;
    margin-bottom: 1rem;
    padding: 0 2px;
}
label span{
    display: block; 
    flex:1 1 0%;
    white-space: nowrap;
}
label span h3{
    font-weight: 100;
    font-family: 'Courier New', Courier;
    font-size: 18px;
    line-height: 19px;
     white-space: nowrap;
    letter-spacing: 0.2px;
}
label input[type="number"]{
    font-size: 18px;
    text-align: right;
    padding-right: 2px;
    width:100%;
    -moz-appearance: textfeild;
    appearance: none;
}
label input[type="number"]::-webkit-inner-spin-button,
label input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button[type="submit"]{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.5rem 1rem;
    background:  linear-gradient(to right,#ad25fc 25%,#518cd4 75%);
    font-weight: bold;
    border-radius: 0.5rem;
    color: #fff;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 0.25rem;
    border:2px solid transparent;
    border-image: linear-gradient(to right,#ad25fc 25%,#518cd4 75%);
    border-image-slice: 1; */
    transition: 0.3s ease-out;
    text-transform: uppercase;
    background-size: 200%;
    background-position: 25%;
}
button[type="submit"]:hover{
    background-position: 75%;
}

